/*** CSS RULES ***/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EDEDED;
}

a {
    text-decoration: none;
}

p {
    font-family: "Manrope", sans-serif;
}

h1 {
    font-family: "Anton", sans-serif;
}

h3 {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
}

input,
button {
    font: inherit;
}

/*** HEADER ***/

.header-background {
    background-image: url(../../assets/homepage-background.jpg);
    background-size: cover;
    background-position: center 65%;
    height: 960px;
    width: 100%;
}

.header-container {
    position: relative;
}

.background-img {
    position: absolute;
    object-fit: cover;
}

.header-logo {
    margin: 4rem 0 0 4rem;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title {
    margin-top: 20rem;
    font-size: 44px;
    color: #FFD15B;
    text-align: center;
    text-transform: uppercase;
}

/* SEARCHBAR */

.search-container {
    margin-top: 2rem;
}

.searchbar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    height: 72px;
    width: 954px;
}

.search-input {
    padding-left: 3rem;
    width: 100%;
    border: none;
    outline: none;
}

.search-btn {
    display: flex;
    align-items: center;
    width: 10%;
}

/*** MAIN ***/

main {
    width: 1280px;
    margin: auto;
}

/* NAVBAR */

/* DROPDOWN */

.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.dropdown-wrapper {
    display: flex;
}

/* .dropdown {
    position: relative;
    display: inline-block;
} */

.drop-btn {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin-right: 4rem;
    padding: .5rem;
    background-color: #FFF;
    color: #1B1B1B;
    height: 3rem;
    border: none;
    cursor: pointer;
    border-radius: .5rem;
    min-width: 160px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #901C1C;
    border-radius: 0 0 .5rem .5rem;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    border-bottom: 2px solid white;
}

.show {
    display: block;
}

/* RECIPES */

#all-recipes {
    font-size: 21px;
    font-weight: bold;
}

/* ARTICLES */

.flex-wrapper {
    display: flex;
    justify-content: center;
    margin: 5rem 0 0 0;
}

.grid-wrapper {
    /* padding: 5rem; */
    display: grid;
    grid-template-columns: repeat(3, 380px);
    grid-template-rows: repeat(4, 731px);
    gap: 5rem;
}

.card {
    position: relative;
    border-radius: 1.25rem;
    background-color: transparent;
    box-shadow: 0px 2px 30px 0px lightgray;
}

.prep-time {
    position: absolute;
    font-family: "Manrope", sans-serif;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    width: 5rem;
    border-radius: 1.25rem;
    color: #333;
    background-color: #FFD15B;
    display: flex;
    justify-content: center;
}

.card-img {
    border-radius: 1.25rem 1.25rem 0 0;
    object-fit: cover;
    width: 100%;
    height: 35%;
}

.card-content {
    padding: 2rem;
    border-radius: 0 0 1.25rem 1.25rem;
}

.card-content h2 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    margin: 0.5rem 0 1rem 0;
}

.card-content h3 {
    margin: 1rem 0 1rem 0;
    color: #7a7a7a;
}

.ingredients-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.ingredients-wrapper .ingredient-item p:nth-child(2),
.ingredients-wrapper .ingredient-item p:nth-child(2),
.ingredients-wrapper .ingredient-item p:nth-child(2),
.ingredients-wrapper .ingredient-item p:nth-child(2),
.ingredients-wrapper .ingredient-item p:nth-child(2) {
    font-weight: lighter;
    color: #7A7A7A;
}
