/*** CSS RULES ***/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EDEDED;
}

a {
    text-decoration: none;
}

p {
    font-family: "Manrope", sans-serif;
}

h1 {
    font-family: "Anton", sans-serif;
}

h3 {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
}

input,
button {
    font: inherit;
}

/*** HEADER ***/

.header-background {
    background-image: url(../../assets/homepage-background.jpg);
    background-size: cover;
    background-position: center 65%;
    height: 960px;
    width: 100%;
}

.header-container {
    position: relative;
}

.background-img {
    position: absolute;
    object-fit: cover;
}

.header-logo {
    margin: 4rem 0 0 4rem;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title {
    margin-top: 20rem;
    font-size: 44px;
    color: #FFD15B;
    text-align: center;
    text-transform: uppercase;
}

/* SEARCHBAR */

.search-container {
    margin-top: 2rem;
}

.searchbar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    height: 72px;
    width: 954px;
}

.search-input {
    padding-left: 3rem;
    width: 100%;
    border: none;
    outline: none;
}

.search-btn {
    display: flex;
    align-items: center;
    width: 10%;
}

/*** MAIN ***/

main {
    width: 1280px;
    margin: auto;
}

/* NAVBAR */

/* DROPDOWN */

.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.dropdown-wrapper {
    display: flex;
}

.dropdown-menu {
    /* display: flex; */
    position: relative;
    display: inline-block;
}

.drop-btn-style {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin-right: 4rem;
    padding: 1rem;
    background-color: #FFF;
    color: #1B1B1B;
    height: 3rem;
    border: none;
    cursor: pointer;
    border-radius: .5rem;
    width: 200px;
}

/* .dropdown-content {
    position: absolute;
} */

.drop-style {
    display: none;
    position: absolute;
    background-color: #FFF;
    border-radius: 0 0 .5rem .5rem;
    max-width: 200px;
    max-height: 280px;
    overflow-y: auto;
    z-index: 1;
}

.drop-style a {
    color: #1B1B1B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-style a:hover {
    background-color: #ffd15a;
}

/* .drop-style a.selected {
    background-color: #ffd15a;
    color: #000;
} */

.drop-style::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.show {
    display: block;
    width: 100%;
    animation: menu_delay 0.6s forwards;
}

/*** ANIMATION DROPDOWN */

@keyframes menu_delay {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.mark{
    transition: transform 0.3s;
    transform: rotate(180deg);
}

.rotated{
    transform: rotate(0deg);
}

/* .border-radius-changed {
    border-radius: .5rem .5rem 0 0;
} */

/* TAGS IN DROPDOWN */

.selected {
    background-color: #FFD15B;
    position: relative;
}

.selected::after {
    font-family: 'Font Awesome 6 Free';
    content: '\f057';
    font-weight: 900;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: larger;
    color: #333;
}

/* TAGS */

.selected-style {
    display: flex;
    /* height: 5rem; */
    width: 100%;
    margin-top: 2rem;
}

.ingredient-tag {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-right: 1rem;
    background-color: #ffd15a;
    height: 3rem;
    width: 200px;
    border-radius: .5rem;
}

.ingredient-tag a{
    cursor: pointer;
}

.appliance-tag {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-right: 1rem;
    background-color: #ffd15a;
    height: 3rem;
    width: 200px;
    border-radius: .5rem;
}

.appliance-tag a{
    cursor: pointer;
}

.ustensils-tag {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-right: 1rem;
    background-color: #ffd15a;
    height: 3rem;
    width: 200px;
    border-radius: .5rem;
}

.ustensils-tag a{
    cursor: pointer;
}
/* RECIPES */

#all-recipes {
    font-size: 21px;
    font-weight: bold;
}

/* ARTICLES */

.flex-wrapper {
    display: flex;
    justify-content: center;
    margin: 5rem 0 0 0;
}

.grid-wrapper {
    /* padding: 5rem; */
    display: grid;
    grid-template-columns: repeat(3, 380px);
    grid-template-rows: repeat(4, 731px);
    gap: 5rem;
}

.card {
    position: relative;
    border-radius: 1.25rem;
    background-color: transparent;
    box-shadow: 0px 2px 30px 0px lightgray;
}

.prep-time {
    position: absolute;
    font-family: "Manrope", sans-serif;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    width: 5rem;
    border-radius: 1.25rem;
    color: #333;
    background-color: #FFD15B;
    display: flex;
    justify-content: center;
}

.card-img {
    border-radius: 1.25rem 1.25rem 0 0;
    object-fit: cover;
    width: 100%;
    height: 35%;
}

.card-content {
    padding: 2rem;
    border-radius: 0 0 1.25rem 1.25rem;
}

.card-description {
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-y: auto;
    height: 5rem;
}

::-webkit-scrollbar {
    display: none;
    }

.card-content h2 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    margin: 0.5rem 0 1rem 0;
}

.card-content h3 {
    margin: 1rem 0 1rem 0;
    color: #7a7a7a;
}

.ingredients-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.ingredients-wrapper .ingredient-item p:nth-child(2),
.ingredients-wrapper .ingredient-item p:nth-child(2),
.ingredients-wrapper .ingredient-item p:nth-child(2),
.ingredients-wrapper .ingredient-item p:nth-child(2),
.ingredients-wrapper .ingredient-item p:nth-child(2) {
    font-weight: lighter;
    color: #7A7A7A;
}

/*** RESPONSIVE DESIGN ***/

/* Mobiles en mode portrait */
@media (min-width: 320px) and (max-width: 425px) {
    .header-background {
        background-image: url(../../assets/homepage-background.jpg);
        background-size: cover;
        background-position: center 100%;
        width: 100%;
    }
    
    .header-container {
        /* height: 480px; */
        width: 100%;
    }

    .main-title {
        margin-top: 16rem;
        font-size: 36px;
    }

    .searchbar {
        width: 50%;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* text-align: center; */
    }

    .dropdown-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .grid-wrapper {
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-columns: repeat(1, minmax(220px, 1fr)); */
        grid-template-rows: auto;
        gap: 4rem;
        margin: 0 5rem 0 5rem;
    }

    .card {
        /* height: 100%; */
        width: 300px;
        margin-bottom: 4rem;
    }
}
